.container-cart{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.thead-cart {
    background-color: #f6f6f6;
    color: #7e7e7e;
    font-size: 14px;
}
.content-order{
    padding: 24px;
}
.order-summary{
    width: 350px;
    height: 374px;
    background-color: #f6f6f6;
}